body{
  font-family: 'Roboto', sans-serif;
  color: #333;
}
img{
  max-width: 100%;
  height: auto;
}
* {
  /*applying border-box globally to change the way the browser calculates widths*/
  box-sizing: border-box;
}
a {
  color: $mainOrange;
}
