@import "normalize.css";
@import "base/_global";
@import "modules/_large-hero";

/*overlay text on top of image*/
.large-hero__text-content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;

}
