.row {
  @mixin clearfix;
  &--t-padding {
    padding-top: 80px;
  }
  &--gutters {
    margin-right: -65px; /*protruding the row out of wrapper by 65px to push text to the right*/
  }
  &--gutters-large {
    margin-right: -100px;
  }
  &--gutters-small {
    margin-right: -45px;
  }
  &--gutters > div {
    padding-right: 65px;
  }
  &--gutters-large > div {
    padding-right: 100px;
  }
  &--gutters-small >div {
    padding-right:  45px;
  }
  /*affects small screen sizes until they get to medium size*/
  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }
  /*column grid aplied only on larger screens*/
  @mixin atMedium {
    /*for larger sizez, bigger than medium, override the margin bottom previously set*/
    &__b-margin-until-medium {
      margin-bottom: 0;
    }
    &__medium-4 {
      float: left;
      width: 33.33%;
    }
    &__medium-4--larger {
      width: 37%;
    }
    &__medium-6 {
      float: left;
      width: 50%;

    }
    &__medium-8 {
      float: left;
      width: 66.66%;
    }
    &__medium-8--smaller {
      width: 63%;
    }
  }
  @mixin atLarge {
    /*for larger sizez, bigger than medium, override the margin bottom previously set*/
    &__b-margin-until-medium {
      margin-bottom: 0;
    }
    &__large-4 {
      float: left;
      width: 33.33%;
    }
    &__large-4--larger {
      width: 37%;
    }
    &__large-6 {
      float: left;
      width: 50%;

    }
    &__large-8 {
      float: left;
      width: 66.66%;
    }
    &__large-8--smaller {
      width: 63%;
    }
  }

  /*Begin Equal Height Rules*/
  .flexbox &--equal-height-at-medium {
    @mixin atMedium{
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }

  .flexbox &--equal-height-at-large {
    @mixin atLarge{
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }
}
